<html>
    <head>
        <title>NOC Operation URLs Dashborad</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="style1.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"">   
    </head>  
      <body>
          <div class="menu-bar">
          <ul>
  
             <li class="#"><a href="#"><i style="color:yellow" class="fa fa-home" ></i>Home</a>
                <div class="sub-menu-1"> 
                    <ul>
                      <li><a href="https://tinyurl.com/bdd7ey3a" target="_blank" rel="noopener noreferrer"><i class="fa fa-university" aria-hidden="true"></i>About Us</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/49d8yh69" target="_blank" rel="noopener noreferrer"><i class="fa fa-product-hunt" aria-hidden="true"></i>Products</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
              </li>

                <li><a href="#"><i style="color:yellow" class="fa fa-desktop" ></i>NOC Tools</a>
                   <div class="sub-menu-1"> 
                    <ul>
                      <li class="hover-me"><a href="#"><i class="fa fa-bar-chart"></i>Monitoring</a><i class="fa fa-angle-right"></i>
                          <div class="sub-menu2">
                              <ul>
                                 <li><a href="https://portal.victorops.com/client/logmein" target="_blank" rel="noopener noreferrer">VictorOps</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://logmein.logicmonitor.com/santaba/uiv3/dashboard/index.jsp#dashboard=94" target="_blank" rel="noopener noreferrer">LogicMonitor</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/9yuyy8dn" target="_blank" rel="noopener noreferrer">BigPanda</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/22tsmx73" target="_blank" rel="noopener noreferrer">PagerDuty</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/4u8td73f" target="_blank" rel="noopener noreferrer">InHouse Monitoring</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/zxa2tn9s" target="_blank" rel="noopener noreferrer">Smokeping Jive</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/ycyvymvm" target="_blank" rel="noopener noreferrer">Metrics/Bosun</a><i class="fa fa-angle-right"></i></li>
                                 <li><a href="https://tinyurl.com/2p9e4fw2" target="_blank" rel="noopener noreferrer">Grafana</a><i class="fa fa-angle-right"></i></li>
                              </ul>
                            </div>   
                    </li>

                  <li class="hover-me"><a href="#"><i class="fa fa-database"></i>DC info</a><i class="fa fa-angle-right"></i>
                      <div class="sub-menu2">
                            <ul>
                               <li><a href="https://tinyurl.com/45p8sax9" target="_blank" rel="noopener noreferrer"><i class="fa fa-tachometer"></i>DC dashboard</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/26m8r3ds" target="_blank" rel="noopener noreferrer"><i class="fa fa-database"></i>Datacenter </a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/y9urct8m" target="_blank" rel="noopener noreferrer"><i class="fa fa-percent" aria-hidden="true"></i>Maintenance SLA </a></li>
                            </ul>
                        </div>   
                    </li>
                          
                  <li class="hover-me"><a href="#"><i class="fa fa-shield" ></i>WatchTower</a><i class="fa fa-angle-right"><i class="fa fa-angle-right"></i></i>
                        <div class="sub-menu2">
                            <ul>
                               <li><a href="https://tinyurl.com/cc6mtshr" target="_blank" rel="noopener noreferrer">TeamRoster</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://teamup.com/kscop48itjp29e3782" target="_blank" rel="noopener noreferrer">WatchTower</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>   
                    </li>

                  <li class="hover-me"><a href="#"><i class="fa fa-file-o"></i>HO/SOP</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu2">
                            <ul>
                               <li><a href="https://tinyurl.com/3kxxx7hy" target="_blank" rel="noopener noreferrer">HandOver</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/8e78v6jm" target="_blank" rel="noopener noreferrer">NOC SOPs</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>   
                    </li>
                    
                  <li class="hover-me"><a href="#"><i class="fa fa-ticket"></i>JIRA</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu2">
                            <ul>
                               <li><a href="https://tinyurl.com/2p8mjjhz" target="_blank" rel="noopener noreferrer">P1/P2 dashboard</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/d48ww3wf" target="_blank" rel="noopener noreferrer">NOC_all</a><i class="fa fa-angle-right"></i></li>
                               <li><a href="https://tinyurl.com/2fcdf3f8" target="_blank" rel="noopener noreferrer">Action Item </a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>   
                    </li>
                </ul>
                </div>
              </li>

<li><a href="#"><i style="color:yellow"  class="fa fa-external-link" ></i>Websites</a>
<div class="sub-menu-1"> 
  <ul>
    <li class="hover-me"><a href="#"><i class="fa fa-sitemap"></i>Network</a><i class="fa fa-angle-right"></i>
        <div class="sub-menu2">
            <ul>
               <li><a href="https://tinyurl.com/4u2sp5mc" target="_blank" rel="noopener noreferrer">Zayo</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/2brtyz6c" target="_blank" rel="noopener noreferrer">GTT</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/bc8t8era" target="_blank" rel="noopener noreferrer">ThalesSupport</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/346z642s" target="_blank" rel="noopener noreferrer">Switchportal</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/yvhj2naf" target="_blank" rel="noopener noreferrer">AT & T</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/475yzxzf" target="_blank" rel="noopener noreferrer">LUMEN</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/mr2z2vtz" target="_blank" rel="noopener noreferrer">ThousandEye</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/5f4trtp2" target="_blank" rel="noopener noreferrer">Circuit Inventory</a><i class="fa fa-angle-right"></i></li>
               <li><a href="https://tinyurl.com/yckw74uj" target="_blank" rel="noopener noreferrer">Akamai</a><i class="fa fa-angle-right"></i></li>
            </ul>
          </div>   
    </li>

  <li class="hover-me"><a href="#"><i class="fa fa-random"></i>Internal Tools</a><i class="fa fa-angle-right"></i>
      <div class="sub-menu2">
          <ul>
             <li><a href="https://tinyurl.com/k4nw5462" target="_blank" rel="noopener noreferrer"></i>NewRelic</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://my.pingdom.com/app/3/home" target="_blank" rel="noopener noreferrer"></i>Pingdom</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/y3j2h3ad" target="_blank" rel="noopener noreferrer"></i>WaveFront</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/ycyahfd4" target="_blank" rel="noopener noreferrer"></i>AppDynamics</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/26f9pxrd" target="_blank" rel="noopener noreferrer"></i>CatchPoint</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/2xrcpkud" target="_blank" rel="noopener noreferrer"></i>Observability</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/373rred2" target="_blank" rel="noopener noreferrer"></i>AVI controller</a><i class="fa fa-angle-right"></i></li>
          </ul>
      </div>   
  </li>
        
  <li class="hover-me"><a href="#"><i class="fa fa-stack-overflow" ></i>Services</a><i class="fa fa-angle-right"></i>
      <div class="sub-menu2">
          <ul>
             <li><a href="https://tinyurl.com/85xkhr2h" target="_blank" rel="noopener noreferrer">BrokerStatus</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/wctsfwm7" target="_blank" rel="noopener noreferrer">CommAdmin</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/vpbvkf87" target="_blank" rel="noopener noreferrer">GSD_services</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/457m63u6" target="_blank" rel="noopener noreferrer">G2ASD Health</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/yc5mnyf5" target="_blank" rel="noopener noreferrer">EGW_status</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/yckjsj2u" target="_blank" rel="noopener noreferrer">G2P Admin</a><i class="fa fa-angle-right"></i></li>

          </ul>
      </div>   
  </li>

  <li class="hover-me"><a href="#"><i class="fa fa-cubes"></i>Miscellaneous</a><i class="fa fa-angle-right"></i>
      <div class="sub-menu2">
          <ul>
             <li><a href="https://tinyurl.com/yckn4h8p" target="_blank" rel="noopener noreferrer">Men & Mice</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/34rccpd4" target="_blank" rel="noopener noreferrer">Grafana</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/927ata7p" target="_blank" rel="noopener noreferrer">Phid_analyzer</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/4xbzy498" target="_blank" rel="noopener noreferrer">Warehouse</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/3v32akac" target="_blank" rel="noopener noreferrer">Venafiaperture</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/3braut5j" target="_blank" rel="noopener noreferrer">Venafi Admin</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/akymzjbn" target="_blank" rel="noopener noreferrer">DataDog</a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/yckwkfa4" target="_blank" rel="noopener noreferrer">Kibana </a><i class="fa fa-angle-right"></i></li>
             <li><a href="https://tinyurl.com/2p9u8ru6" target="_blank" rel="noopener noreferrer">Service Level Dashboard</a><i class="fa fa-angle-right"></i></li>
          </ul>
      </div>   
  </li>
  
  <li class="#"><a href="https://tinyurl.com/3ectrrjp" target="_blank" rel="noopener noreferrer"><i class="fa fa-bitbucket"></i>BitBucket</a><i class="fa fa-angle-right"></i></li>
  </ul>
  </div>
   </li>

              <li><a href="#"><i style="color:yellow"  class="fa fa-users"></i>Auth</a>
                <div class="sub-menu-1"> 
                    <ul>
                      <li><a href="https://tinyurl.com/2p89thde" target="_blank" rel="noopener noreferrer"><i class="fa fa-user-circle"></i>SSU</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/2n2h3t5a" target="_blank" rel="noopener noreferrer"><i class="fa fa-unlock-alt"></i>FreeIPA</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/5fzj7bsz" target="_blank" rel="noopener noreferrer"><i class="fa fa-child"></i>SelfService</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/2p9ctpaf" target="_blank" rel="noopener noreferrer"><i class="fa fa-user"></i>Identity Escalation</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>  
             </li>


              <li><a href="#"><i style="color:yellow"  class="fa fa-cloud"></i>Cloud</a>
                <div class="sub-menu-1"> 
                    <ul>
                      <li><a href="https://tinyurl.com/2p92re33" target="_blank" rel="noopener noreferrer"><i class="fa fa-amazon"></i>AWS</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/e3nvayhn" target="_blank" rel="noopener noreferrer"><i class="fa fa-linux"></i>OpenStack Dev</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/yrxtr5n4" target="_blank" rel="noopener noreferrer"><i class="fa fa-linux"></i>OpenStack Prod</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/2v6zdu6j" target="_blank" rel="noopener noreferrer"><i class="fa fa-opera"></i>OracleCloud</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
             </li>

              <li><a href="#"><i  style="color:yellow" class="fa fa-phone" ></i></i>Contact</a>
                <div class="sub-menu-1"> 
                    <ul>
                      <li><a href="https://tinyurl.com/5fkvu3u4" target="_blank" rel="noopener noreferrer"><i class="fa fa-bell"></i>Connect NOC</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/p9xvepsc" target="_blank" rel="noopener noreferrer"><i class="fa fa-compress"></i>DialpadBridge</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>  

              </li>
              <li><a href="#"><i style="color:yellow" class="fa fa-question-circle" ></i>Support</a>
                <div class="sub-menu-1"> 
                    <ul>
                      <li><a href="https://tinyurl.com/59xnvcwm" target="_blank" rel="noopener noreferrer"><i class="fa fa-share"></i>StatusPage</a><i class="fa fa-angle-right"></i></li>
                       <li><a href="https://tinyurl.com/23v7uj3b" target="_blank" rel="noopener noreferrer"><i class="fa fa-weixin"></i>Samanage Portal</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="https://tinyurl.com/4rr4hjfa" target="_blank" rel="noopener noreferrer"><i class="fa fa-slideshare"></i>Service Desk</a><i class="fa fa-angle-right"></i></li>
                          <li><a href="https://tinyurl.com/2p928r3w" target="_blank" rel="noopener noreferrer"><i class="fa fa-tripadvisor"></i>Facility Ticket</a><i class="fa fa-angle-right"></i></li>
                      <li class="hover-me"><a href="#"><i class="fa fa-volume-control-phone"></i>NOC-oncall</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu2">
                            <ul>
                               <li><a href="#">NOC Hotline - 001 - 805-690-2399</a> <i class="fa fa-mobile" aria-hidden="true"></i></li>
                               </ul>
                        </div>   
                    </li>
                </ul>
                </div>
              </li>

              <li><a href="#"><i class="fa fa-bullhorn" aria-hidden="true" ></i>RCA/RFO</a>
                  <div class="sub-menu-1">
                    <ul>
                      <li><a href="https://tinyurl.com/4z59j3ct" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-word-o" aria-hidden="true"></i>RCA</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="https://tinyurl.com/35y4mdvj" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>RFO</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>

               </li>
                  
                    </ul>
                </div>   
             </li>
          </ul>  
        </div>
    </body>
     

             
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
           <h2 style="color: green; font-size:40px">Network Operations Center (NOC)<br>
                   
           <h3 style="color: goldenrod; text-align: left; display:flex; flex-direction: column; align-items: center;"><marquee direction="right" behavior="alternate">
                     Our Mission Statement</marquee></span></h3>
                     <br>
           <p style="text-align: left; display:flex; flex-direction: column; align-items: center; color: #fff; font-family: 'Lucida Grande' 'Trebuchet MS'">
                    The NOC’s mission is to oversee the LogMeIn Production Environments and 
                    take necessary actions to protect the Customer Experience,</br>
                    Maintain 100% Product Availability, and reduce MTTR (Mean Time to Repair) for any issues that may occur.</p>
           <a href="https://tinyurl.com/38afcmta" target="_blank" rel="noopener noreferrer" style="text-align: left; display:flex; flex-direction: column; align-items: center; color: #872eecc4;">
                    Learn More <i class="fa fa-info-circle" aria-hidden="true"></i></a>  
             
      
 
  
          

      </body>


</html>